$base-font: 'Poppins', 'helvetica neue', sans-serif;
$header-font: 'PT Serif', serif;

$font-size-xxl: 70px;
$font-size-xl: 56px;
$font-size-lg: 36px;
$font-size-md: 24px;
$base-font-size: 18px;
$font-size-sm: 16px;
$font-size-xs: 14px;
$font-size-xxs: 12px;