.section {

}

// Padded top and bottom section
&.padded {
  padding: $spacing 0;
}

&.padded--md {
  padding: $spacing-md 0;
}

&.padded--lg {
  padding: $spacing-lg 0;
}

// Only padded on top
&.padded-top {
  padding-top: $spacing;
}

&.padded-top--md {
  padding-top: $spacing-md;
}

&.padded-top--lg {
  padding-top: $spacing-lg;
}

// Only padded on bottom
&.padded-bot {
  padding-bottom: $spacing;
}

&.padded-bot--md {
  padding-bottom: $spacing-md;
}

&.padded-bot--lg {
  padding-bottom: $spacing-lg;
}

.section--green {
  background-color: $green;
  a {
    color: #ffffff;
  }
}

.section--bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;

  @include pseudoblock(after, block) {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &#travel {
    &:after {
      background-color: #333;

      @include breakpoint(800px) {
        background-color: rgba(0,0,0,0.7);
      }
    }
  }

  a {
    color: #ffffff;
    &:hover {
      color: $yellow;
    }
  }
}

// Section Content
.section__content {
  font-weight: 300;

  &.is-centered {
    text-align: center;
  }
  
  .section--bg-image &,
  .section--green & {
    color: #ffffff;
  }
}