{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header">
			{% include "header.twig" %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</section>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}

		{# Back To Button #}
		<div class="back-to-top"></div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>
