<div class="footer">
  <div class="l-constrain">
    <div class="footer__top">
      <h5>Kristine & Mike Wedding Celebration</h5>
    </div>
    <div class="footer__bottom">
      <div class="flex-grid flex-grid--2col space-between">
        <div class="flex-column">Website By Tommy Alter</div>
        <div class="flex-column">©{{"now"|date('Y')}}</div>
      </div>
    </div>
  </div>
</div>