<div class="menu-button"></div>
<div class="main-menu">
  <ul class="menu">
    <li class="menu__item">
      <a href="#story" class="menu__link">Our Story</a>
    </li>
    <li class="menu__item">
      <a href="#ceremony" class="menu__link">Ceremony</a>
    </li>
    <li class="menu__item">
      <a href="#travel" class="menu__link">Travel</a>
    </li>
    <li class="menu__item">
      <a href="#rsvp" class="menu__link">RSVP</a>
    </li>
    <li class="menu__item">
      <a href="#gifts" class="menu__link">Gifts</a>
    </li>
    <li class="menu__item">
      <a href="#contact" class="menu__link">Contact Us</a>
    </li>    
  </ul>
</div>