$bp-loop: 800px;

.loop__top {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: $spacing-md;

  @include breakpoint($bp-loop) {
    display: flex;
  }
}

.loop__link {
  color: #ffffff;
  font-size: $font-size-md;
  font-weight: 700;
  margin: 0 .75rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 250ms ease-in-out;

  &:hover {
    color: $yellow;
  }

  &.is-active {
    border-bottom: solid 1px #fff;
    display: block;
    color: $yellow;
  }
}

.loop__text {
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 3em;
  position: relative;
  text-align: left;
  top: 0;
  transition: opacity 350ms ease-in-out;

  @include breakpoint($bp-loop) {
    position: absolute;
    text-align: center;
    opacity: 0;
    pointer-events: none;
  }

  &.is-active {
    opacity: 1;
    pointer-events: initial;
  }
}

.loop__bottom {
  position: relative;
  height: auto;

  @include breakpoint($bp-loop) {
    height: 400px;
  }
}

.loop__body {
  margin-bottom: 2rem;
}

.loop__title {
  display: block;
  border-bottom: solid 1px #fff;
  margin-bottom: 1em;

  @include breakpoint($bp-loop) {
    display: none;
  }
}