.ninja-forms-field {
  font-family: $base-font;
  font-size: $font-size-xs;
  padding: 1em;
}

.nf-form-content {
  select {
    border-radius: 0px;
    height: 50px !important;
    background-color: transparent;
  }

  textarea,
  input,
  select {
    border: solid 1px rgba($green, 0.3);
  }

  input[type=button] {
    border: solid 1px $green;
    color: $green;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-sm;
    font-weight: 700;
    left: 50%;
    padding: 1em 3em;
    position: relative;
    text-decoration: none;
    transform: translateX(-50%);
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: $green;
      color: #ffffff;
    }
  }
}

.nf-field-label {
  font-size: $font-size-sm;
  color: $green;
  margin-bottom: 4px !important;
}

.nf-form-title {
  display: none;
}

.nf-form-fields-required {
  display: none;
}

